<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-4">

    <!-- Footer Links -->
    <div class="footer-copyright text-center py-3">
        <!-- Grid row -->
        <div class="row">
                <h5 class="text-uppercase">PokeGame 2018</h5>
                <p>Un jour vous serez le meilleur dresseur !</p>
                <!-- Links -->
                <h5 class="text-uppercase">Liens</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!"> Pika </a>
                    </li>
                    <li>
                        <a href="#!">Pika</a>
                    </li>
                    <li>
                        <a href="#!">Pika</a>
                    </li>
                    <li>
                        <a href="#!">Pika</a>
                    </li>
                </ul>
            </div>
        © 2018 Copyright: PokeGame
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>