
body{
    background-color: #3c5aa6 !important;
    color: #ffffff !important;
}


.logo{
    text-align: center;
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.starter > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.starter > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.starter > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}
/* Button home page  */
.btn-xlarge {
    padding: 18px 28px !important;
    font-size: 45px !important;
    line-height: normal !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}
.btn-home{
    position: fixed !important;
    top: 50% !important;
    left: 45% !important;
    /* bring your own prefixes */
    transform: translate(-50%, -50%) !important;
}
.btn-home-login{
    position: fixed !important;
    top: 50% !important;
    left: 60% !important;
    /* bring your own prefixes */
    transform: translate(-50%, -50%) !important;
}